#Allgemein
.idea
.DS_Store
backend/src/main/.DS_Store
backend/src/main/java/.DS_Store
backend/src/main/java/org/.DS_Store
backend/src/main/java/org/example/.DS_Store
backend/src/main/java/org/example/backend/.DS_Store
backend/.DS_Store
backend/src/.DS_Store


#Backend
backend/HELP.md
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/
backend/mvnw
backend/mvnw.cmd
backend/.mvn

#Frontend
frontend/node_modules/
frontend/dist/